footer {
  left: 0;
  bottom: 0;
  right: 0;
  padding-bottom: 20px;
  background-color: #273e18;
  color: var(--accent-color);
  padding: 0 7%;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}


footer section {
  padding: 0 50px;
}

section.top {
  margin-top: 150px;
  margin-bottom: 48px;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
}

.top .left {
  display: flex;
  flex-direction: column;
}

.top .left p {
  color: var(--accent-color);
  font-size: 17px;
  margin: 0;
  text-align: justify;
  display: flex;
}

.top .left a {
  display: flex;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  color: var(--accent-color);
  padding: 0;
  margin: 0;
}

.top .left span {
  color: var(--secondary-color);
}

.top .mid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top .mid a,
.top .right a {
  display: flex;
  padding: 0;
  font-size: 18px;
  text-decoration: none;
  color: var(--accent-color);
}

@media (width > 480px) {
  footer article button {
    width: 70%;
  }

  section.top ul {
    padding-right: 10%;
  }
}

@media (width > 600px) {
  footer article {
    flex-direction: row;
    min-height: 140px;
    margin: -70px 20px 20px;
    padding: 30px 50px 30px;
  }

  footer article button {
    width: auto;
    padding: 0 20px 0 24px;
  }

  section.top ul {
    padding-right: 0;
  }
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 80px;
  width: 55vw;
  padding-top: 20px;
  border-radius: 40px 40px 0 0 ;
  background: linear-gradient(
    rgb(252, 255, 86),
    rgba(237, 240, 88, 0.692)
  );
  color: black;

}

.footer-bottom a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}