#beranda {
  background-color: #F7FFF2;
  max-width: 100vw;
}

.hero-container {
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: space-between;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  padding-left: 7%;
  overflow: hidden;
}

.hero-container .hero-left-section {
  box-shadow: 100px 0px 60px #F7FFF2;
  height: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding-right: 20px;
  /* margin-top: -80px; */
}

.hero-title {
  color: #707572;
  font-size: 35px;
  font-weight: 700;
  padding-bottom: 20px;
  position: relative;
  line-height: 50px;
}

.hero-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30%;
  height: 4px;
  background-color: var(--text-color);
}


.hero-text {
  text-align: justify;
}

.hero-container .hero-right-section {
  min-width: 65%;
  z-index: 1;
  max-height: 100%;
  overflow: hidden;
  display: flex;
  align-items: start;
}

.hero-container .hero-right-section img {
  transform: scaleX(-1);
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: fill;
}


/* Button */
/* From Uiverse.io by Creatlydev */ 
.hero-button-container {
  margin-top: 26px;
  display: flex;
  justify-content: left;
}

.button {
  font-family: 'Poppins';
  line-height: 1;
  text-decoration: none;
  display: inline-flex;
  border: none;
  cursor: pointer;
  align-items: center;
  gap: 0.75rem;
  background: linear-gradient(
    rgb(116,182,76), 
    rgb(99,155,65)
  );
  color: #fff;
  border-radius: 10rem;
  font-weight: bold;
  font-size: 16px;
  padding: 18px 30px;
  width: fit-content;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background 0.4s ease-in-out, box-shadow 0.3s ease;
  box-shadow: 3px 3px 9px rgba(67, 67, 67, 0.342);
}

.button__icon-wrapper {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;
  color: black;
  background: linear-gradient(
    rgba(84, 220, 0, 0.71), 
    rgb(208, 208, 75)
    );
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.button:hover {
  background: linear-gradient(
    rgb(116,182,76), 
    rgb(86, 133, 57)
  );
  box-shadow: 3px 4px 9px rgba(67, 67, 67, 0.362);
}

.button:hover .button__icon-wrapper {
  color: #000;
}

.button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.button:hover .button__icon-svg:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.button:hover .button__icon-svg--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}

/* Media Queries */
  /* Phones */
  @media screen and (max-width: 375px) {
    .hero-container .hero-right-section {
      display: none;
    }
    
    .hero-container .hero-left-section {
      max-width: 100%;
      padding: 0;
    }

  }