nav.navbar {
  background-color: #568c35;;
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1030;
  height: auto;
}

.navbar .container-fluid {
  margin: 0 12%;
}

.container-fluid .navbar-brand {
  color: var(--accent-color);
  font-weight: bolder;
}

.container-fluid .navbar-brand span {
  color: var(--secondary-color);
}

.container-fluid .navbar-brand:hover { 
  color: #ffffff; 
}

nav .nav-link {
  color: var(--accent-color);
  font-size: 18px;
  font-weight: medium;
}


nav .nav-link:hover {
  color: #e6e6e6;
}
