nav.navbar {
  background-color: #568c35;;
  width: 100vw;
  z-index: 1030;
}

a.navbar-brand {
  color: white !important;
  font-weight: bolder;
  font-size: 24px !important;
}

.navbar-brand span {
  color: var(--secondary-color);
}

.navbar-brand:hover { 
  color: #ffffff; 
}

.nav-link {
  color: var(--accent-color) !important;
  font-size: 18px !important;
  font-weight: 500 !important;
}

.nav-link:hover {
  color: #f5f5f5 !important;
}

.nav-link:active {
  color: #fafafa !important;
}
