nav.navbar {
  background-color: #568c35;;
  width: 100%;
  z-index: 1030;
}

a.navbar-brand {
  color: white !important;
  font-weight: bolder;
}

.navbar-brand span {
  color: var(--secondary-color);
}

.navbar-brand:hover { 
  color: #ffffff; 
}

nav .nav-link {
  color: var(--accent-color);
  font-size: 18px;
  font-weight: medium;
}


nav .nav-link:hover {
  color: #e6e6e6;
}
