/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');

/* Variables */
:root {
  --primary-color: #93d56b;
  --secondary-color: #FFFF99;
  --accent-color: #FBFBFB;
  --background-color: #eaeaea;
  --text-color: #333333;

  /* shadow */
  --shadow-1: 3px 3px 9px hsla(240, 14%, 69%, 0.2);
  --shadow-2: 3px 3px 9px hsla(204, 92%, 59%, 0.3);
  /* shadow */
}


*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

li { list-style: none; }


button,
input {
  background: none;
  border: none;
  font: inherit;
}

button:focus{outline: none; }

input { width: 100%; }

ion-icon { pointer-events: none; }


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  min-height: fit-content;
}

body {
  font-family: 'Poppins';
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 100px; */
}



h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
li,
ul{
  margin: 0;
  font-family: 'Poppins';
  text-decoration: none;
}

.btn-bg-green {
  padding: 10px 20px;
  background-color: var(--primary-color);
  text-decoration: none;
  border-radius: 5px;
  font-weight: 500;
  color: white;
}

.btn-bg-red {
  padding: 10px 30px;
  background-color: rgb(225, 54, 71);
  text-decoration: none;
  border-radius: 5px;
  font-weight: 500;
  color: white;
}

.btn-bg-blue {
  padding: 10px 30px;
  background-color: rgb(93, 125, 249);
  text-decoration: none;
  border-radius: 5px;
  font-weight: 500;
  color: white;
}

.btn-primary,
.btn-danger {
  width: 80px;
}

.js-card-status-lunas {
  background-color: var(--primary-color);
  width: fit-content;
  text-wrap: nowrap;
}

.js-card-status-dekat {
  background-color: rgb(255, 217, 0);
}

.js-card-status-lewat {
  background-color: rgb(221, 44, 44);
  width: 120px;
  text-wrap: nowrap;
}
