.kamar-container {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 100%;
  margin: 0 auto; 
  padding: 0;
}

.kamar-card {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: fit-content;

  border: 1px solid #ccc;
  border-radius: 26px;
  padding: 20px 20px 29px;
  background-color: #fff;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.kamar-card p {
  margin: 0;
  padding: 0;
}

.kamar-card:hover {
  transform: scale(1.0);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.container-foto-kamar img {
  width: 100%;
  height: auto;
  border-radius: 26px;
}

.kamar-card span {
  color: white;

}

.kamar-card-items {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 12px;
  align-items: center;
}

.kamar-card-items img {
  height: 28px;
  margin-right: 15px;
}

.status-digunakan {
  background-color: var(--primary-color);
  padding: 8px;
  border-radius: 6px;
  font-weight: 500;
}

.status-siap-huni {
  background-color: rgb(255, 217, 0);
  padding: 8px;
  border-radius: 6px;
  font-weight: 500;
}

.status-tidak-aktif{
  background-color: rgb(221, 44, 44);
  padding: 8px;
  border-radius: 6px;
  font-weight: 500;
}
