.kamar-container {
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));  
  gap: 20px;
  height: 100%;
  margin-bottom: 5%;
  max-width: 100%;
  padding: 0;
}

.kamar-card {
  width: 100%;
  height: auto;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 13px;

  border: 1px solid #ccc;
  border-radius: 26px;
  padding: 20px 20px 29px;
  background-color: #fff;
  text-align: left;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.kamar-card p {
  margin: 0;
  padding: 0;
}

.kamar-card h4 {
  color: #585757;
  font-weight: 600;
}

.kamar-card:hover {
  box-shadow: 0 5px 9px rgba(60, 60, 60, 0.243);
}

.container-foto-kamar {
  height: 300px;
  max-height: 300px;
  width: 100%;
  max-width: 100%;
}

.container-foto-kamar img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  box-shadow: 2px 2px 2px rgba(65, 65, 65, 0.381);
}

.kamar-card span {
  color: white;

}

.kamar-card-items {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.kamar-card-items img {
  height: 28px;
  margin-right: 15px;
}

.display-foto-kamar {
  border: 2px solid var(--text-color);
  width: 200px;
  height: 200px;
  max-width: 200px;
  max-height: 200px;
  border-radius: 12px;
  padding: 6px;
}

.display-foto-kamar img {
  /* object-fit: fill; */
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  border-radius: 12px !important;
}


.status-digunakan {
  background-color: var(--primary-color);
  padding: 8px;
  border-radius: 6px;
  font-weight: 500;
}

.status-siap-huni {
  background-color: rgb(255, 217, 0);
  padding: 8px;
  border-radius: 6px;
  font-weight: 500;
}

.status-tidak-aktif{
  background-color: rgb(221, 44, 44);
  padding: 8px;
  border-radius: 6px;
  font-weight: 500;
}

@media screen and (max-width: 420px) {
  .kamar-container {
    grid-template-columns: 1fr;
  }

  .kamar-card {
    max-width: none;
  }
}


