#tabelku.dataTable {
  width: 100%;
  min-width: 800px;
  max-width: fit-content;
  table-layout: auto;
  overflow: hidden;
  font-family: 'Poppins';
  border-radius: 20px;
}

#tabelku th, #tabelku td {
  padding: 20px;
  text-align: left;
  text-wrap: nowrap;
  vertical-align: middle;
  color: black;
  width: 100%;
  max-width: 100%;
  margin: 0;
  font-weight: 500;
}


#tabelku span {
  color: black;
}


#tabelku th {
  background-color: var(--secondary-color);
}


.table-buttons {
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: left;
  gap: 8px;
}

.table-buttons img {
  height: 40px;
  width: 40px;
  object-fit: contain;
}

.js-card-status-pembayaran {
  text-align: center;
  min-height: 35px;
  min-width: 80px;
  color: white;
  border-radius: 5px;
  font-weight: 600;
}


/* Pemasukan */
.container-pemasukan {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.pemasukan-top {
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 100%;
}

.pemasukan-top-left{
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 30px;
}

.pemasukan-top-right {
  width: 50%;
}

.laporan-card-top,
.laporan-card-bottom{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 12px;
  padding: 10px;
}

.laporan-text-top {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
}

.laporan-text-mid {
  font-size: 24px;
  font-weight: 600;
  color: #515452;
}

#grafik-pembayaran-bulan-ini {
  align-self: center;
}