.container p {
  margin: 0;
  padding: 0;
}

.container-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 30px 0;
}

.page-title {
  font-size: 28px;
  margin: 0;
  padding: 0;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 360px;
  height: 45px;

  font-size: 19px;
  font-weight: 300;

  border: solid 1px rgba(104, 104, 104, 0.597);
  border-radius: 6px;
}

.search-form img {
  height: 20px;
  margin: 0 8px;
}

.search-form ::placeholder {
  font-size: 20px;
}
 
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 100%;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: fit-content;
  padding: 15px;

  border: 1px solid rgb(144, 144, 144);
  border-radius: 26px;
  box-shadow: 5px 5px 5px rgba(127, 127, 127, 0.21);

  transition: box-shadow 0.2s ease;
}

.card-content:hover {
  transform: scale(1.0);
  box-shadow: 4px 3px 14px rgba(0, 0, 0, 0.269);
}

.card-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: top;
  gap: 3px;
}

.card-top .penyewa-nama {
  font-size: 22px;
  margin: 0;
}


.card-item-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-items {
  display: flex;
  flex-direction: row;
  align-items: top;
  letter-spacing: 0.2px;
}

.card-img-container {
  height: 25px;
  width: 25px;
  margin-right: 15px;
}

.card-items img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.penyewa-link-wa {
  text-decoration: underline;
  margin-bottom: 1rem;
  color: rgb(69, 128, 230);
  cursor: pointer;
  letter-spacing: 0.3px;
}

.js-card-status-pembayaran {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 40px;
  min-width: auto;
  margin: 0;
  color: white;
  border-radius: 5px;
}

.dropdown-toggle {
  text-decoration: underline;
  cursor: default;

}


.static-dropdown {
  position: relative !important; 
  transform: translate3d(0px, 10px, 0px) ; 
  transition: transform 0.3s ease, height 0.4s ease
}

.dropdown.show .static-dropdown {
  transform: translate3d(0px, 10px, 0px) !important; 
  transition: transform 0.3s ease, opacity 0.3s ease, 
}


.dropdown-menu {
  width: fit-content;
  padding: 10px; 
  border: 1px solid #ddd; 
  box-shadow: none; 
}

.form-control.custom-input {
  width: 300px;
}

.table-riwayat {
  height: 80vh;
}


