
.dashboard-grid-container {
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  cursor: default;
}


/* Styles for individual grid items */
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: var(--text-color);
  width: 290px;
  height: 290px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: default;
  transition: box-shadow 0.1s ease-out;
}

.grid-item img {
  margin-bottom: 20px;
  width: 50%;
}

.grid-item:hover {
  transform: scale(1.01);

  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.08em, rgba(0, 0, 0, 0.25) 0px 0.140em 0.7em, rgba(255, 255, 255, 0.1) 0px 0px 0px 6px inset;
}

