.container .navbar-brand {
  color: var(--accent-color);
  font-weight: bolder;
}

.container .navbar-brand:hover {
  color: var(--accent-color);
}

.container .navbar-brand span {
  color: var(--secondary-color);
}

nav {
  background-color: var(--primary-color);
}

.navbar .nav-link {
  font-size: 19px;
  color: var(--accent-color);
  font-weight: 500;
  transition: color 0.2s ease;
}

.navbar .nav-link:hover {
  color: rgb(243, 243, 243);
}

.container .nav-link:after {
  color: var(--accent-color);
}

.navbar .nav-link:active {
  color: rgb(250, 250, 250);
}