#tabelku.dataTable {
  width: 100%;
  min-width: 800px;
  max-width: fit-content;
  table-layout: auto;
  overflow: hidden;
  font-family: 'Poppins';
  border-radius: 20px;
}

#tabelku th, #tabelku td {
  padding: 20px;
  text-align: left;
  text-wrap: nowrap;
  vertical-align: middle;
  color: black;
  width: 100%;
  max-width: 100%;
  margin: 0;
  font-weight: 500;
}


#tabelku span {
  color: black;
}


#tabelku th {
  background-color: var(--secondary-color);
}


.table-buttons {
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: left;
  gap: 8px;
}

.table-buttons img {
  height: 40px;
  width: 40px;
  object-fit: contain;
}

.js-card-status-pembayaran {
  text-align: center;
  min-height: 35px;
  min-width: 80px;
  color: white;
  border-radius: 5px;
  font-weight: 600;
}
