.facility-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-bottom: 10px;
  box-shadow: 4px 5px 7px #ddd;
  margin-bottom: 26px;
}

.facility-card:hover {
  transform: scale(1.01);
  box-shadow: 4px 5px 7px #b6b6b6;

}

.fasilitas-img-container {
  max-width: 140px;
  padding: 5px;
  margin-right: 35px;
}


.facility-card img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.nama-fasilitas {
  font-size: 25px;
}

.foto-fasilitas img {
  max-height: 250px;
  margin: 10px 0;
}

.text-area-fasilitas {
  display: flex;
  flex-direction: column;
}

.text-area-fasilitas textarea {
  padding-left: 5px;
}

.error {
  color: red;
  margin-bottom: 10px;
}