.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container h2 {
  margin: 0;
  color: #333;
}

.header-container a {
  background-color: #93d56b;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.header-container a:hover {
  background-color: #218838;
}


.kamar-container {
  display: grid; 
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px; 
  max-width: 100%;
  margin: 0 auto; 
  padding: 0;
}

.kamar-card {
  border: 1px solid #ccc;
  border-radius: 32px;
  padding: 16px;
  background-color: #fff;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.kamar-card:hover {
  transform: scale(1.0);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.kamar-card img {
  width: 100%;
  height: auto;
  border-radius: 32px;
}

.kamar-card span {
  color: white;

}

.status-digunakan {
  background-color: var(--primary-color);
  padding: 8px;
  border-radius: 6px;
  font-weight: 500;
}

.status-siap-huni {
  background-color: rgb(255, 217, 0);
  padding: 8px;
  border-radius: 6px;
  font-weight: 500;
}

.status-tidak-aktif{
  background-color: rgb(221, 44, 44);
  padding: 8px;
  border-radius: 6px;
  font-weight: 500;
}
