.dashboard-container {
  padding-bottom: 3%;
}

.container-custom {
  background-color: rgb(250, 250, 250) !important;
  height: fit-content;
  padding-bottom: 3%;
  margin: 3% 0;
  border-radius: 14px;
  box-shadow: 2px 2px 7px rgba(44, 44, 44, 0.257);
}

.container-custom form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.container-top-left {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.back-button {
  border-radius: 50px;
  padding: 10px;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.back-button:hover {
  background-color: rgba(126, 126, 126, 0.058);
}

.container-content {
  color: rgb(25, 25, 25);
  margin-bottom: 5%;
}

.container p {
  margin: 0;
  padding: 0;
}

.container-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 20px 0;
}

.page-title {
  font-size: 28px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: var(--text-color);
}

/* Form Styling */
 .container-custom .form-control:focus {
    border-color: none !important;
    box-shadow: none !important;
    position: relative !important;
  }

  .container-custom .form-control:focus::after {
    border-color: none !important;
    box-shadow: none !important;
    background-color: var(--primary-color) !important;

  }

  .container-custom .form-group label,
  .checkbox-tambah-fasilitas label,
  .container-custom .form-textarea label {
    font-size: 18px;
    font-weight: 500;
    color:#4e524f !important;
  }

  .container-custom .form-group input, 
  .container-custom .form-select,
  .container-custom .form-control, 
  .container-custom .form-textarea textarea {
    border: none;
    background-color: rgb(250, 250, 250) !important;
    color: var(--text-color) !important;
  }

  .container-custom .form-textarea textarea {
    background-color: rgb(250, 250, 250) !important;
    color: var(--text-color) !important;
    border: solid 2px;
  }

  .container-custom .form-group,
  .checkbox-tambah-fasilitas {
    border: none;
    position: relative;
    max-width: 100%;
  }

  .container-custom .form-group::after,
  .checkbox-tambah-fasilitas::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
  }

  .container-custom .form-group option::after{
    max-width: 50px;
  }

  .container-custom .form-select {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: none;
  }

  .container-custom .form-select option {
    white-space: nowrap;
    text-overflow: ellipsis; 
    overflow: hidden; 
    display: block;
    max-width: 90%; 
}
/* Form Styling */


/* Custom File Input */
.custom-file-upload-container {
  max-width: 100%;
  width: 340px;
  border: 2px solid var(--text-color);
}

input[type="file"] {
  max-width: 500px;
  min-width: 300px;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid var(--text-color) !important;

}

input[type="file"]::-webkit-file-upload-button {
  max-width: 100%;
  padding: 8px 12px;
  background-color: var(--text-color); 
  color: white;
  border: none; 
  
  margin-right: 12px;
  font-size: 16px; 
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

input[type="file"]::-webkit-file-upload-button:hover {
  background-color: var(--primary-color) !important;
}

input[type="file"]::-webkit-file-upload-button:focus {
  outline: var(--primary-color);
}
/* Custom File Input */

/* Upload Image Preview */
.display-uploaded-foto {
  border: 2px solid var(--text-color);
  display: none;
  width: fit-content;
  max-width: 100%;
  max-height: 280px; 
  border-radius: 12px;
  padding: 6px;
  /* overflow: hidden; */
}

#image-preview {
  width: 100%; 
  height: auto; 
  max-height: 260px; 
  object-fit: fill;
  border-radius: 12px;
}


.custom-file-upload-container {
  max-width: 100%;
  width: 340px;
}
/* Upload Image Preview */


/* Buttons */
.button-ubah-hapus {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.btn {
  padding: 10px 20px !important;
  border-radius: 5px !important;
  font-weight: 600 !important;
  color: white !important;
  text-decoration: none !important;
  box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.227);
  transition: box-shadow 0.2s ease !important;
  max-width: 200px !important;
  border: none !important;
}

.btn:hover {
  box-shadow: 2px 2px 7px rgba(50, 50, 50, 0.394);
}

.btn--green:active {
  background-color: var(--primary-color)!important;
}

.btn--green { background-color: var(--primary-color)!important;}
.btn--red { background-color: rgb(203, 48, 64)!important; }
.btn--blue { background-color: rgb(63, 97, 234)!important; }

.btn--green--tambah {
  z-index: 11;
  background-color: var(--primary-color)!important;
  position: fixed;
  bottom: 6%;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 0;
  text-align: center;
  border-radius: 50px !important;
  font-weight: 600 !important;
  color: white !important;
  text-decoration: none !important;
  box-shadow: 1px 1px 4px rgba(42, 42, 42, 0.455);
  transition: box-shadow 0.2s ease, background-color 0.1s ease;
}

.btn--green--tambah:hover {
  background-color: #5f9f37 !important;
}

.btn--green--tambah:active {
  background-color: #5c9a35 !important;
}

.btn--green--tambah::before {
  content: "+";
  display: block;
  font-size: 28px;
  text-align: center;
}

@media screen and (min-width: 300px) and (max-width: 420px) {
  .container-custom {
    background-color: rgb(250, 250, 250) !important;
    height: 100vh;
    max-height: 100vh;
    margin: 0;
    position: relative;
    border-radius: 0;
    box-shadow: none
  }

  .container-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
  }

  .container-top-left {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 30px;
    width: 100%;
  }
  
  .container-kamar {
    margin: 20px 0 -20px 0 ;
  }

}