/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');

/* Variables */
:root {
  --primary-color: #568c35;
  --secondary-color: #FFFF99;
  --accent-color: #FBFBFB;
  --background-color: #F7FFF2;
  --member-background-color: #F7FFF2;
  --text-color: #5e6260;
}

/* Global Resets */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Poppins' !important;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1.5;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button,
input {
  background: none;
  border: none;
  font: inherit;
}

button:focus,
input:focus{outline: none; }

input { width: 100%; }

ion-icon { pointer-events: none; }


/* Status Cards */
.js-card-status-lunas {
  background-color: var(--primary-color);
  width: fit-content;
  text-wrap: nowrap;
}

.js-card-status-belum-bayar {
  background-color: rgb(203, 48, 64);
  width: 120px;
  text-wrap: nowrap;
}