.beli-container {
  background: linear-gradient(
    rgba(84, 220, 0, 0.5), 
    rgba(242, 242, 59, 0.834)
    );
  height: 400px;
  margin-bottom: 100px;   
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 50px;
}


/* Text */
.word {
  margin: 0;
  color: white;
  font-size: 70px;
  font-weight: 700;
  text-shadow: 5px 2px #222324a9, 2px 4px #22232421, 3px 5px #22232491;
}


/* Button */
/* From Uiverse.io by Creatlydev */ 
.button {
  font-family: 'Poppins';
  line-height: 1;
  text-decoration: none;
  display: inline-flex;
  border: none;
  cursor: pointer;
  align-items: center;
  gap: 0.75rem;
  background-color: rgba(39, 39, 39, 0.92);
  color: #fff;
  border-radius: 10rem;
  font-weight: bold;
  font-size: 20px;
  padding: 30px 60px;
  padding-left: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.4s ease-in-out;
}

.button__icon-wrapper {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;
  color: black;
  background: linear-gradient(
    rgba(84, 220, 0, 0.71), 
    rgba(208, 208, 75, 0.92)
    );
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.button:hover {
  background-color: rgba(247, 247, 247, 0.891);
  color: black;
}

.button:hover .button__icon-wrapper {
  color: #000;
}

.button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.button:hover .button__icon-svg:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.button:hover .button__icon-svg--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}
