#fitur h2 {
  text-align: center;
}

hr.title-underline {
  border: 3px solid rgb(11, 219, 0);
  width: 200px;
  margin: 20px auto;
}

.fitur-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.fitur-container p {
  font-size: 20px;
  text-align: justify;
}

.fitur-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 80px 0;
}

.left-section,
.right-section-mid {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 125px;
  width: 47%;
  padding-right: 8%;
}

.right-section,
.left-section-mid {
  display: flex;
  width: 47%;
}

.fitur-content img {
  height: 100%;
  width: 100%;
}