.footer {
  background-color: var(--primary-color);
  /* height: 1000px; */
}

.footer-brand { width: 33.33%; }

.footer-text { max-width: 35ch; }

.footer-list:not(:last-of-type) { width: 16.66%; }

.footer-list:last-of-type { width: 33.33%; }

.footer-text { max-width: 400px; }

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 80px;
  padding-top: 20px;
  box-shadow: var(--shadow-1);
  border: 1px solid var(--secondary-color);
  border-radius: 40px 40px 0 0 ;
  background-color: var(--secondary-color);;

}